*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
 a {
    text-decoration: none;
 }
 li {
    list-style: none;
 }














/* main section css */
#main-section {
    min-height: 100vh;
    max-width: 100vw;
    background: linear-gradient(to left, #000000bb, #00000037) ,  url("../images/bg1.jpg") no-repeat center center/cover;


}
header  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    color: #fff;
}

.logo img {
    width: 45px;
}
.logo p {
    display: inline-block;
    margin: 0 .2rem;
    letter-spacing: .21rem;
}
ul {
    display: flex;

}
ul li {
    margin: 0 .7rem;
    cursor: pointer;
    letter-spacing: .21rem;
}

#main-section .content   {
    min-height: 60vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
   
    /* text-transform: uppercase; */
}
#main-section .content h3 {
    font-size: 3.7rem;
    letter-spacing: .3rem;
    text-align: center;
}
#main-section .content h3 button {
    width: 190px;
}

/* features secttion */
#features {
    margin: 2.2rem 0;
}
.heading {
    text-transform: uppercase;
    margin: 1rem 0 0 0;
    text-align: center;
    position: relative;
}
.underline {
    width: 10%;
    height: 2px;
    background: red;
    margin: 10px auto;
    margin-bottom: 1rem;
}




